# Convex Production Server
CONVEX_SELF_HOSTED_URL="https://url-convex.es"
CONVEX_SELF_HOSTED_ADMIN_KEY="convex-self-hosted|YOUR_ADMIN_KEY_HERE"

# Local Development (optional)
NEXT_PUBLIC_CONVEX_URL=http://127.0.0.1:3210
NEXT_PUBLIC_CONVEX_SITE_URL=http://127.0.0.1:3211

# Convex Deployment
CONVEX_DEPLOYMENT=anonymous:anonymous-camarai_dash-privado
